# large csv and json data files
data/
output/

# logs
logs/

# pkl files
models/*.pkl
isw_*.pkl
src/forecast_pipeline/*.pkl

# local/testing and temp script folders
tests/
scripts/
src/**/run_*.sh

# keys
.env
*.session
secret_keys.json


# sys Python
__pycache__/
*.pyc
.DS_Store
.idea/
.ipynb_checkpoints/