# logs
data/
output/
logs/
*.log
cron.log
*.session
alarm_session*
npm-debug.log*


# pkl files
models/*.pkl
src/forecast_pipeline/*.pkl
*.pkl

# local/testing and temp script folders
tests/
scripts/
src/**/run_*.sh

# keys
.env
.env.local
.env.production
*.session
secret_keys.json


# frontend
node_modules/
dist/
build/
.vite/
.cache/


# backend 
__pycache__/
*.pyc
venv/
.venv/
.pytest_cache/
*.ipynb_checkpoints/


# OS files
.DS_Store
.idea/
.vscode/
Thumbs.db