# large csv and json data files
data/
output/

# logs
logs/

# ML models
models/*.pkl

# 4. Секретні файли (API ключі)
# Використовується для зберігання ключа Visual Crossing API або паролів бази даних
.env
secret_keys.json

# 5. Системні файли та кеш Python
__pycache__/
*.pyc
.DS_Store
.idea/
.ipynb_checkpoints/